.main-container {
    display: flex;
    justify-content: center;
};

.hotel-list-container {
    max-height: 200px;
    overflow: scroll;
}

.side_widg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 350px;
}