.weather-container {
    background-color: rgb(253,123,135);
    color: white;
    min-height: 150px;

}

md-card-title {
    font-size: 36px
}

.weather-container-content {
    display: flex;
    align-items: center;

}

span {
    margin-left: 20px;
    font-size: 32px
}